{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block active %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/about">About                
            <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
{% endblock %}

{% block main %}

    <!-- body goes here -->
    
{% endblock %}
